<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hehe world!</h1>
    <img src="https://res.cloudinary.com/dvn8e9cgl/image/upload/v1717744085/IMG_0710_avxviu.jpg" alt="" width="500">
    <img src="https://res.cloudinary.com/dvn8e9cgl/image/upload/w_200/v1717744085/IMG_0710_avxviu.jpg" alt=""
        width="500">
</body>

</html>